.question-component-wrapper{
    display: block; 
    margin-bottom: 50px;
}

.title-question{
    text-align: start;
    font-size: 18px;
    font-weight: 500;
}
.add-button{
    margin: 10px;
}

.question-component-wrapper{
    display: block; 
    margin-bottom: 30px;
}
.answer{
    display: grid;
    margin-top: 20px;
    gap: 15px;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

.input-answer{
    margin:5px;
}
.number{
    text-align: start;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}
